<h1>All Superpowers</h1>
<h2><%= link_to "Create New Superpower", new_power_path %></h2><br>

  <% @powers.each do |power| %>
    <h2><%= link_to power.name.titleize, power_path(power) %></h2>
      <p><%= power.description.capitalize %></p><hr>
  <% end %>