<h1>All Heroines</h1>
<h2><%= link_to "Create New Heroine", new_heroine_path %></h2><br>

<% @heroines.each do |heroine| %>
    <h2><%= link_to "#{heroine.super_name.titleize} (#{heroine.name.titleize})", heroine_path(heroine) %></h2><hr>
<% end %>